# URL de conexión a tu base de datos Neon PostgreSQL
VITE_DATABASE_URL="postgres://tu_usuario:tu_contraseña@tu-host.neon.tech/neondb?sslmode=require"

# API Key de OpenWeather para la funcionalidad del clima
VITE_OPENWEATHER_API="tu_api_key_de_openweather"
